@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,200&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

  

     a.link  {
      color:  #2e9662 !important;
      }

    .menu-container {
      z-index: 10;
      background-color: transparent;
      transform: translateX(-100%);
      transition: all ease 0.5s;
    }
    
    .menu-container.active {
      transform: translateX(0%);
    }
    .icon {
      height: 30px;
      width: 30px;
      vertical-align: baseline;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
    .toggler {
      margin-left: 0;
      cursor: pointer;
    }
    
    @media (min-width: 769px) {
      .menu-container {
        width: 25%;
        min-width: auto;
        transform: translateX(0%);
      }
    }
    
    @media (max-width: 1024px) {
      .menu-container {
        height: 100vh;
        z-index: 10;
        display: none !important;
        background-color: #fff;
        transform: translateX(0%);
        position: absolute !important;

      }
    }
    .is-visible{
      display: block !important ;
    }


    /****/


.table-container {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 10vh auto;
  padding: 30px;
  font-family: 'Roboto', sans-serif;
}


.table{
  width: 100%;
  border-collapse: collapse;
}
.table td,.table th {
  border:  1px solid #ddd !important;
  text-align: center !important;
}
.table  thead th {
  font-size:12px !important;
}

.table th{
  background-color: #e4f3ec !important;
  color: rgb(0, 0, 0) !important;
  padding: 12px !important;
}

.table tbody tr:nth-child(even){
  background-color: #f5f5f5;
}
.table  tr td .exchangeKeyCopy {
  width: 20px;
  height: 20px;
 
}

.table  tr td .exchangeKey {
 border: none;
 width: 80%;
 padding: 0;
 resize: none;
 border: #0000000c solid;
}
.table  tr td .exchangeKeyCopy img {
  cursor: pointer !important;
}
.table  tr .exchangeKey-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}


/* responsive*/

@media (max-width: 760px) {
  .table thead{
      display: none;
  }
  .table tfoot{
      display: none;
  }

  .table-title h3{
      font-weight: bold;
  }
  .table,.table tbody, .table tr, .table td{
      display: block;
      width: 100%;
  }
 .table tr{
      display: block;
      width: 100%;
      margin-top:30px ;
      border-top: #696565d4 6px solid;
  }
  .table td{
      text-align:  right;
      padding-left: 50%;
      position: relative;
      word-break: break-word;
      word-wrap: break-word;
  }
  .table td::before{
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-size: 13px;
      font-weight: bold;
      text-align: left;
      word-break: break-word;
      word-wrap: break-word;
  }
  .table  tr td .exchangeKey {
    
      width: 50%;
  
  
   }
}


.avatar img{

  border-radius: 50% !important;
  border: solid 1px #2e9662 !important;
}
.avatar h3{
text-align: center;
font-size: 20px;
}




@import "../../node_modules/bulma-o-steps/bulma-steps.sass";
@import "../../node_modules/bulma/bulma.sass";


