

.container1 , .container2 , .container3 , .container4 , .container5 , .container6 , .container7{
    
    margin-left: 58px;
    margin-top: 60px;
    margin-bottom: -30px;
}

.panel-title a{
    color:#09467f ;
}

main{
    width: 84% !important;
    margin-right: 8% !important;
    margin-left: 8% !important;
    text-align: justify;
}






.mentions_legales{
    margin-top: 130px; 
    margin-left: 59px;
    margin-bottom: -40px;
    font-family: 'Times New Roman', Times,serif; 
    color: #2e9662;
    font-weight: bold;
    font-size: 2.5em;
    line-height: 1;
}

.container1 , .container2 , .container3 , .container4 , .container5 , .container6 , .container7{
    
    margin-left: 58px;
    margin-top: 60px;
    margin-bottom: -30px;
}

.panel-title a{
    color:#75B266 ;
}

main{
    width: 84% !important;
    margin-right: 8% !important;
    margin-left: 8% !important;
    text-align: justify;
}



/* -------------------------------------- HEADER --------------------------*/
/* --------  version portable  */

@media (max-width:767px) {


    #items li a 
    {
        text-decoration: none;
        color: #36383F;
        transition: all 250ms ease;
        font-weight: normal;
        font-size: medium;
    }

    #items li a:hover 
    {
        color: #2e9662;
    }


}


ul
{
    padding: 0;
    list-style-type: none;
}

/* --------  version ordinateur  */

@media (min-width: 767.01px) {
    #checkboxheader
    {
        display: none;
    }
 
    #items
    {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #items-content
    {
        background-color: red;
        width: 100%;
    }
    #items li
    {
        float: right;
        padding: 20px;
        font-weight: normal;
    }
    #items li a 
    {
        text-decoration: none;
        color: #36383F;
        font-family: 'Roboto', sans-serif;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: medium;
        transition: all 250ms ease;
    }
    #items li a:hover 
    {
        color: #2e9662;
    }


}


/*===========================================  F O O T E R   ===================================================*/

@media screen and (max-width:1024px) {
    body{
        margin: 0;
    }
  }
